<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Geeks
</title>
<link rel="stylesheet" href="style.css">
<table class="table1">
  <tr>
    <td align="left" valign="middle">
      <img src="geeks/6.jpeg" height="100" width="100">
    </td>
    <td align="left" valign="char">
      <center><div class="title">GEEKS GRAPHICS</div>
      <br>
    <h2>
      High class  designs and services		</td></center>
    <td align="center" valign="char">
      <script>
      var fifteenth=new Date();var sixteenth=fifteenth.getFullYear();var seventeenth=fifteenth.getDay();
      var month=fifteenth.getMonth();var eighteenth=fifteenth.getDate();
      if (eighteenth<10)eighteenth='0'+eighteenth;
      var first2=new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
      var second2=new Array('January','February','March','April','May','June','July','August','September','October','November','December');
      document.write('<code><b>'+first2[seventeenth]+', '+second2[month]+' '+eighteenth+', '+sixteenth+'</b></code>');
      </script>
    </td>
  </tr>
</table>
</head>
<body>
  <img src="geeks/station.png"class="body">
 </div>
   <div id="sixteenth" onMouseover="seventeenth()" onMouseout="eighteenth()" style="left:-303px;position:absolute;width:429px;top:200px;font:bold 12px Verdana;">
   <table border="0" bgcolor="#ffffff" bbgcolor="#ffffff">
     <tr>
       <td width="300" height="1" align="center" bgcolor="yellow"><b>SMART MENU</b></td>
       <td rowspan="14" align="center" bgcolor="#ffffff" style="cursor: hand; font-size: 10px; font-family: Arial, Helvetica, sans-serif;"> 
        <div class="smart-menu">
          CLICK HERE</div>
          	<img src="geeks\arrow.gif" height="50" width="100"></td>
     </tr>
     <tr>
       <td height="30" align="center" bgcolor="grey"><a href="display.html"><strong>Display</strong></a></td>
     </tr>
     <tr>
       <td height="30" align="center" bgcolor="grey"><a href="Templates.HTML"><STRONG>Templates</STRONG></a></td>
     </tr>
     <tr>
       <td height="30" align="center" bgcolor="grey"><a href="Learn.html"><strong>Learn<strong></a></td>
     </tr>
   </table>
   </div>
   <script src="menu.js"></script>
  <div class="footer">
    © 2022.by techgeeks solutions
  </div>

</body>
</body>
</html>
